

body {
    background-color: #16141A;
}

.navbar {
    margin-bottom: 0;
    border-radius: 1px;
}

.nav-logo {
    height: 70px;
    margin-top: -10px;
    display: block;
}

.nav-text {
    left: 100px;
}

.main-logo {
    height: 100px;
}

.main-text {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.main-text-09 {
    position: relative;
    font-size: 0.9em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.text-align-r {
    text-align: right;
}

.main-bg {
    position: absolute;
    top: 90px;
    left: -400px;
}

div {
    text-align: justify;
}

hr {
    border-color: white;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.global-font-color {
    color: grey;
}

.pull-center {
    text-align: center;
}

.pull-down {
    padding-top: 20px;
}

.pull-down-submitted {
    padding-top: 132px;
}

.pull-down-upload-text {
    padding-top: 5px;
}

.pull-up {
    margin-top: -20px;
}

.pull-up-slide {
    margin-top: -50px;
}

input[type=text] {
    text-align: center;
    border: 2px solid #FA9C1E;
    border-radius: 4px;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    color: #FA9C1E;
    background-color: #4D4C4E;
}

input[type=text]:focus {
    border: 2px solid #CE7F18;
    color: #CE7F18;
}

.login-area-image {
    height: 32px;
    width: 32px;
}

.login-area-name {
    padding-left: 10px;
}

.supporter-confirm {
    color: #FA9C1E;
}

.head-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.center-max80 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.center-max90 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.center-max95 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skill-logo {
    max-height: 56px;
}

.spoiler {
    box-shadow: none !important;
}

.spoiler-button {
    background-color: rgb(104, 104, 104);
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    border-radius: 8px;
    cursor: pointer;
}

.spoiler-button:hover {
    background-color: rgb(104, 104, 104);
    color: white;
    cursor: pointer;
}

.skill-player {
    max-width: 80%;
	margin: 0 auto;
	border: 1px solid white;
}

.valk-wrapper{
    display:table;
    width:auto;
    position:relative;
    width:100%;
}

.valk-player {
    max-width: 100%;
	margin: 0 auto;
	border: 1px solid white;
}

.valk-player-remover {
    background-image:url(/img/controls/remover.png);
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.valk-player-logo {
    background-image:url(/img/controls/play.png);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.valk-player-mark {
    background-image:url(/img/controls/mark.png);
    background-repeat:no-repeat;
    width:20%;
    height:20%;
    position:absolute;
    left:80%;
    right:0%;
    top:58%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}