/* The side navigation menu */
.sidenav {

    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    color: white;

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(22, 20, 26, 0.5);
    overflow-x: hidden;

    padding-top: 60px;
    transition: 0.5s;
}

.sidenav-title {

    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidenav a {
    padding: 0px 0px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}